@mixin button () {
  outline: none;
  border: none;
  background: none;
  cursor: pointer;
}

//@mixin nav-link () {
//  position: absolute;
//  //left: 10%;
//  top: 3%;
//  outline: none;
//  border: none;
//  background: none;
//  cursor: pointer;
//}